# Bank Note Authentication

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for inspection was used. The final images have 400 pixles. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpl were gained. Wavelet Transformation tool were sued to extract features from images.

In [1]:
#dataset link: https://kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BankNote_Authentication.csv')

In [3]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
df.tail()

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [6]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [8]:
#y=dependent and x=independent features
x=df.iloc[:,:-1] #present everything in the datasset except the last column
y=df.iloc[:,-1]  #presenting only the last column from the dataset

In [10]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [19]:
# train test split
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)

In [34]:
# Implementing a Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x_train, y_train)

RandomForestClassifier()

In [32]:
#prediction
y_pred = classifier.predict(x_test)

In [36]:
#checking for accuracy
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)

In [37]:
score

0.9902912621359223

In [40]:
# creating a pickle file using serialization
import pickle
pickle_file = open('./classifier.pkl', 'wb')
pickle.dump(classifier, pickle_file)
pickle_file.close()

In [41]:
import numpy as np

In [42]:
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)